.example-form {
    width: 30%;
}

.example-full-width {
    width: 100%;
}

td {
    padding-right: 8px;
}

.flex {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-crear {
    background: #666;
    color: white;
    margin: 1em;
}
